header {
    &.main {
        background-color: $blue;
        color: $white;
        padding: 1% 0;
        text-align: center;

        a {
            color: lighten($grey, 10%);

            &:hover {
                color: lighten($grey, 15%);
            }
        }
    }
}
