description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial "head" %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            <!-- Nav -->
            {% partial "header" %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

        <!-- Switch order if offline/online and it doesn't work -->
        <script src="{{ [
            'assets/build/js/core.js',
            'assets/build/js/app.js'
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
            var bittersMap = (function () {
                var myLatlng = new google.maps.LatLng(59.342457, 18.057340),
                mapCenter = new google.maps.LatLng(59.340458, 18.057340),
                mapCanvas = document.getElementById('map_canvas'),
                mapOptions = {
                    center: mapCenter,
                    zoom: 13,
                    scrollwheel: false,
                    draggable: true,
                    disableDefaultUI: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                },
                map = new google.maps.Map(mapCanvas, mapOptions),
                contentString =
                    '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+
                    '<div id="bodyContent"'+
                    '<p>Sveavägen 98</p>'+
                    '</div>'+
                    '</div>',
                infowindow = new google.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 300
                }),
                marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'thoughtbot (Sweden)'
                });

                return {
                    init: function () {
                        map.set('styles', [{
                            featureType: 'landscape',
                            elementType: 'geometry',
                            stylers: [
                                { hue: '#ffff00' },
                                { saturation: 30 },
                                { lightness: 10}
                            ]}
                        ]);

                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(map,marker);
                        });
                    }
                };
            }());

            bittersMap.init();
        </script>

    </body>
</html>
